.about-main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8rem;
    padding: 2rem 5rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  margin: 2rem 5rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 2;
  font-size: 1.1rem;
  line-height: 2.5;
  max-width: 900px;
}

.about-visual-content {
  flex: 1;
  background: var(--platinum);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.icon {
    font-size: 5rem;
}