.about-main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8rem;
    padding: 2rem 2rem;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    flex-wrap: nowrap;
}

.about-text {
    flex: 2;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 100%;
    min-width: 15rem;
}

.about-text h2 {
    font-size: 1.5rem;
}

.about-visual-content {
    flex: 1;
    min-width: 18rem;
    background: var(--platinum);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.icon {
    font-size: 4rem;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    .about-main-content {
        padding-top: 1rem;
    }

    .about-main-content h1 {
        padding-bottom: 1rem;
    }

    .about-text {
      line-height: 2;
      font-size: 1rem;
    }

    .hide {
        display: none;
    }
}

@media (min-width: 769px) {
    .hide {
        display: block;
    }
}

@media (min-width: 1024px) {
    .about-main-content {
        padding: 2rem 3rem;
    }

    .about-container {
        gap: 2rem;
    }

    .about-text h2 {
        font-size: 1.75rem;
    }

    .about-text {
        font-size: 1.15rem;
    }

    .about-visual-content {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .about-text {
        flex: 1;
    }

    .about-visual-content {
        flex: 1;
    }

    .about-container {
        flex-direction: row;
    }
}


@media (min-width: 2560px) {
    .about-visual-content {
        width: 100%;
        height: 100%;
    }

    .about-container {
        flex-direction: row;
    }

    .about-text {
        font-size: 1.5rem;
    }

    .about-main-content h1 {
      font-size: 2.5rem;
    }

    .about-main-content {
        margin-top: 10rem;
    }
}
