footer {
    display: flex;
    background-color: var(--platinum);
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 1rem 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
}

.socials-container svg {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.socials-container a:link,
.socials-container a:visited,
.socials-container a:active {
  color: var(--eerie-black);
  text-decoration: none;
}


.logo-footer {
    height: 6rem;
    width: 6rem;
    padding: 0;
}

.linkedin:hover {
    color: #0a66c2;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.github:hover {
    color: #2dba4e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.instagram:hover {
    color: #8a49a1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.footer-titles {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.socials-container h1,
.website-info-container h1 {
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 4rem;
        padding-bottom: 0;
    }

    .socials-container,
    .website-info-container {
        align-items: flex-start;
    }

    .socials-container svg {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .logo-footer {
        height: 6rem;
        width: 10rem;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        justify-content: space-between;
        padding: 0 3rem;
    }

    .logo-footer {
        height: 6rem;
        width: 10rem;
    }
}

@media (min-width: 1440px) {
    .website-info-container p {
        font-size: 1.2rem;
    }

    .website-info-container h1 {
        font-size: 1.4rem;
    }

    .socials-container svg {
        margin-right: 1.3rem;
        margin-bottom: 0;
        width: 40px;
        height: 40px;
    }

    .logo-footer {
        height: 6rem;
        width: 11rem;
    }

    .socials-container h1 {
        font-size: 1.4rem;
    }
}

@media (min-width: 2560px) {
    .website-info-container p {
        font-size: 1.4rem;
    }

    .website-info-container h1 {
        font-size: 1.7rem;
    }

    .socials-container svg {
        margin-right: 1.5rem;
        margin-bottom: 0;
        width: 50px;
        height: 50px;
    }

    .logo-footer {
        height: 7rem;
        width: 12rem;
    }

    .socials-container h1 {
        font-size: 1.7rem;
    }
}