nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--platinum);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    gap: 1rem;
}

.logo {
    height: 3rem;
    width: 3rem;
    transition: 0.3s ease-in-out;
}

nav .logo {
    color: var(--eerie-black);
}

nav .logo:hover {
    color: var(--onyx);
    transform: rotate(1turn);
}

.navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 1rem;
    margin-left: 0;
}

.navbar-links li {
    list-style: none;
    position: relative;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--eerie-black);
    transition: 0.3s ease-in-out;
}

.navbar-links li a:hover {
    color: var(--eerie-black);
}

.navbar-links li a:hover::after {
    content: "";
    width: 30%;
    height: 2.5px;
    background: var(--eerie-black);
    position: absolute;
    bottom: -4px;
    left: 0;
}

@media (min-width: 768px) {
    nav {
        align-items: center;
        padding: 1rem 2rem;
        gap: 1rem; 
    }

    .navbar-links {
        flex-direction: row;
        width: auto;
        align-items: center; 
        gap: 2.5rem;
    }

    .navbar-links li a {
        font-size: 1.4rem;
    }

    .logo {
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .navbar-links li a {
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .navbar-links li a {
        font-size: 1.7rem;
    }

    .logo {
        height: 4rem;
        width: 4rem;
    }
}

@media (min-width: 2560px) {
    .navbar-links li a {
        font-size: 2rem;
    }

    .logo {
        height: 5rem;
        width: 5rem;
    }
}